.container {
    box-sizing: border-box;
    /*padding: 30rpx;*/
    background-color: #ffffff;
    max-height: 500px;
    min-height: 350px;
    margin-bottom: 50px;
}

.inner-container {
    margin: 15px 15px 0 15px;
}

.sku-preview {
    display: flex;
    flex-direction: row;
}

.sku-img {
    width: 80px;
    height: 80px;
}

.sku-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.discount-price {
    margin-left: 10px;
}

.price-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.sku-pending {
    font-size: 10px;
}

.sku-pending > text:first-child {
    color: #999999;
}

.sku-pending > text:nth-child(2) {
    color: #666666;
}

.hr {
    margin-top: 15px;
    width: 345px;
    height: 1px;
    background-color: #E9E9E9;
}

.sku-description {

}

.stock {
    margin-left: 15px;
    font-size: 10px;
    color: #999;
}

.stock-pinch {
    margin-left: 15px;
    font-size: 10px;
    color: #D20109;
}

.counter-container {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}


.counter-container text {
    color: #555555;
    font-size: 12px;
}

.bottom-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #333333;
    position: absolute;
    bottom: 0;
}

.out-stock {
    background-color: #dcebe6;
}

.bottom-btn text {
    color: #ffffff;
}
