#tabbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    border-top: 1px solid #E3E3E3;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background: white;
    .tab_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }
}
